*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    width: 100vw;
    height: 100vh;
  }

  img {
    height: 20vh;
    background-color:rgb(249, 230, 195);
    filter: grayscale(90%);
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    transition: 2s;
    z-index: auto;
  }
   
  .image-container {
    width: 100%;
    max-width: 980px;
    margin: 16px auto;
  }
  
  #img1{
    position: absolute;
    top: 8% ;left: 20%;
    transform: rotate(-20deg);
    border: 2px solid lightgray;
  }

  #img2{
    position: absolute;
    top: 15%;left: 30%;
    transform: rotate(15deg);
    border: 2px solid lightgray;
  }
   
  #img3{
    position: absolute;
    top: 25%;left: 35%;
    transform: rotate(0deg);
    border: 2px solid lightgray;
   
  }
  #img4{
    position: absolute;
    top: 35%;left: 40%;
    transform: rotate(-15deg);
    border: 2px solid lightgray;
  }
  #img5{
    position: absolute;
    transform: rotate(5deg);
    top: 45%;left: 45%;
    border: 2px solid lightgray;
  }

  #img1:hover {
    filter: grayscale(40%);
    transform: scale(1.1);
    z-index: 1;
  }
  #img2:hover {
    filter: grayscale(40%);
    transform: scale(1.1);
    z-index: 1;
  }
  #img3:hover {
    filter: grayscale(40%);
    transform: scale(1.1);
    z-index: 1;
  }
  #img4:hover {
    filter: grayscale(40%);
    transform: scale(1.1);
    z-index: 1;
  }
  #img5:hover {
    filter: grayscale(40%);
    transform: scale(1.1);
    z-index: 1;
  }